/* .contents {
  width: 80%;
  margin: 0px auto;
} */

.profile {
  /* margin: 40px 0; */
  margin-bottom: 40px;
}

.passport {
  margin: 40px 0;
}

.quest {
  margin: 40px 0;
}

.communities {
  margin: 40px 0;
}

.activities {
  margin: 40px 0;
}

.prize {
  margin: 40px 0;
}
